<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button
    class="navbar-toggler navbar-toggler-right"
    type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">TvMazeApp</a>
  <div [collapse]="isCollapsed"
       class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav right ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/shows">Search<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mylist">MyShows</a>
      </li>
    </ul>
  </div>
</nav>
