.show-card {
  overflow: hidden;
  position: relative;
  padding: 20px 0;

  &--image {
    width: 100%;
    height: auto;
  }

  &--description {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    visibility: hidden;
  }

  &--title {
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
    margin: 10px 0 0 0;
    color: #ffffff;
    padding-left: 2px;
  }

  &:hover {
    .show-card--image {
      -webkit-transition: 0.3s ease-in;
      -moz-transition: 0.3s ease-in;
      -o-transition: 0.3s ease-in;
      transition: 0.3s ease-in;

      -webkit-filter: brightness(0.3);
      -moz-filter: brightness(0.3);
      -o-filter: brightness(0.3);
      filter: brightness(0.3);

      animation-name: scaleImage;
      animation-duration: 0.3s;
      animation-timing-function: ease-in-out;
    }

    .show-card--description {
      visibility: visible;
    }

    .card-tags {
      animation-name: slideIn;
      animation-duration: 0.3s;
      animation-timing-function: ease-in-out;
    }
  }
}

.card-tags {
  font-size: 10px;
  color: #ffffff;
  padding: 0;
  margin: 0;

  &--item {
    list-style-type: none;
    border: 1px solid #ffffff;
    float: left;
    margin: 3px;
    padding: 4px;
  }
}

@keyframes scaleImage {
  80% {
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  80% {
    -webkit-transform: translate(-3%, 0);
    -moz-transform: translate(-3%, 0);
    -ms-transform: translate(-3%, 0);
    -o-transform: translate(-3%, 0);
    transform: translate(-3%, 0);
  }
}
