<div class="show-card">
    <img class="show-card--image" src="{{imageUrl}}"/>
    <span class="show-card--description">
      <ul class="card-tags">
        <li class="card-tags--item" *ngFor="let tag of getTags()">{{tag}}</li>
      </ul>
      <h2 class="show-card--title">
        {{title}}
      </h2>
    </span>
</div>
