<!--<div class="show-form container">-->
  <!--<form [formGroup]="showForm" novalidate (ngSubmit)="saveShow(show)">-->
    <!--<div class="form-group">-->
      <!--<label>Name : </label>-->
      <!--<input-->
        <!--type="text"-->
        <!--[formControlName]="'showName'"-->
        <!--[(ngModel)]="show.name"-->
        <!--name="name"-->
        <!--class="form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label>Language : </label>-->
      <!--<input-->
        <!--type="text"-->
        <!--[formControlName]="'showLanguage'"-->
        <!--[(ngModel)]="show.language"-->
        <!--name="language"-->
        <!--class="form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label>Official Site : </label>-->
      <!--<input-->
        <!--type="url"-->
        <!--[formControlName]="'showSite'"-->
        <!--[(ngModel)]="show.officialSite"-->
        <!--name="officialSite"-->
        <!--class="form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label>Image : </label>-->
      <!--<input-->
        <!--type="url"-->
        <!--[formControlName]="'showImageBig'"-->
        <!--[(ngModel)]="show.imageBig"-->
        <!--name="imageBig"-->
        <!--class="form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label>Type : </label>-->
      <!--<input-->
        <!--type="text"-->
        <!--[formControlName]="'showType'"-->
        <!--[(ngModel)]="show.type"-->
        <!--name="type"-->
        <!--class="form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label>Runtime : </label>-->
      <!--<input-->
        <!--type="number"-->
        <!--[formControlName]="'showRuntime'"-->
        <!--[(ngModel)]="show.runtime"-->
        <!--name="runtime"-->
        <!--class="form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label>Genres : </label>-->
      <!--<input-->
        <!--type="text"-->
        <!--[formControlName]="'showGenres'"-->
        <!--[(ngModel)]="show.genres"-->
        <!--name="genres"-->
        <!--class="form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label> Description : </label>-->
      <!--<textarea-->
        <!--[formControlName]="'showSummary'"-->
        <!--[(ngModel)]="show.summary"-->
        <!--name="summary"-->
        <!--class="form-control"-->
        <!--maxlength="300"-->
        <!--rows="4">-->
      <!--</textarea>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<button class="btn btn-success" type="submit">Zapisz</button>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->

<div *ngIf="show" class="show-form container">
  <form [formGroup]="showForm" novalidate (ngSubmit)="saveShow()">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input
          type="text"
          formControlName="name"
          name="showName"
          required
          placeholder="showName"
          class="form-control">
      </div>
    </div>
    <div *ngIf="formErrors.name" class="alert alert-danger">
      {{ formErrors.name }}
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Language</label>
      <div class="col-sm-10">
        <input
          type="text"
          formControlName="language"
          name="language"
          placeholder="Language"
          class="form-control">
      </div>
    </div>
    <div *ngIf="formErrors.language" class="alert alert-danger">
      {{ formErrors.language }}
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Official Site</label>
      <div class="col-sm-10">
        <input
          type="url"
          formControlName="officialSite"
          name="officialSite"
          placeholder="Official Site"
          class="form-control">
      </div>
    </div>
    <div *ngIf="formErrors.officialSite" class="alert alert-danger">
      {{ formErrors.officialSite }}
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Image</label>
      <div class="col-sm-10">
        <input
          type="url"
          formControlName="imageBig"
          name="imageBig"
          placeholder="Image"
          class="form-control">
      </div>
    </div>
    <div *ngIf="formErrors.imageBig" class="alert alert-danger">
      {{ formErrors.imageBig }}
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-10">
        <input
          type="text"
          formControlName="type"
          name="type"
          placeholder="Type"
          class="form-control">
      </div>
    </div>
    <div *ngIf="formErrors.type" class="alert alert-danger">
      {{ formErrors.type }}
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Runtime</label>
      <div class="col-sm-10">
        <input
          type="number"
          formControlName="runtime"
          name="runtime"
          placeholder="Runtime"
          class="form-control">
      </div>
    </div>
    <div *ngIf="formErrors.runtime" class="alert alert-danger">
      {{ formErrors.runtime }}
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Genres</label>
      <div class="col-sm-10">
        <input
          type="text"
          formControlName="genres"
          name="genres"
          placeholder="Genres"
          class="form-control">
      </div>
    </div>
    <div *ngIf="formErrors.genres" class="alert alert-danger">
      {{ formErrors.genres }}
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <textarea
          formControlName="summary"
          name="summary"
          class="form-control"
          rows="4"
          placeholder="Description"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
    <div *ngIf="formErrors.valid" class="alert alert-danger">
      {{ formErrors.valid }}
    </div>
  </form>
</div>

