<div class='cards'>
  <div class='cards_left'>
    <img class="cards_left--image" [src]='show.imageBig'>
  </div>
  <div class='cards_right'>
    <h1 class="cards_right--title">{{show.name}}</h1>
    <div class='cards_right--details'>
      <ul class='cards_right--details-list'>
        <li class='cards_right--details-list-item'>{{show.runtime}} min</li>
        <li class='cards_right--details-list-item'>{{show.language}}</li>
        <li class='cards_right--details-list-item'>{{show.type}}</li>
      </ul>
      <ul class='cards_right--details-list'>
        <li class='cards_right--details-list-tag' *ngFor="let genre of getGenres()">{{genre}}</li>
      </ul>
      <div class='cards_right--review'>
        <p class="cards_right--review-summary" [innerHTML] ='show.summary | truncate : 300' ></p>
        <a class="cards_right--review-more" href='{{show.officialSite}}' target='_blank'>Read more</a>
      </div>
      <div class='cards_right--buttons'>
        <button *ngIf="options.showAddButton" class="cards_right--buttons__main" (click)="addToMyList(show)">ADD TO MY-SHOWS</button>
        <button *ngIf="options.showBackButton" class="cards_right--buttons__main" (click)="goBack()">BACK TO {{options.value}}</button>
        <button *ngIf="options.showRemoveButton" class="cards_right--buttons__main" (click)="removeShow(show.id)">REMOVE</button>
        <button *ngIf="options.showEditButton" class="cards_right--buttons__main" (click)="editShow()">EDIT</button>
      </div>
    </div>
  </div>
</div>
