@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

$main-height: 470px;
.cards {
  width:800px;
  height:$main-height;
  background:transparent;
  margin: 50px auto auto;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  &_left {
    width:40%;
    height:$main-height;
    float:left;
    overflow:hidden;
    background:transparent;
    &--image {
      width:100%;
      height: $main-height;
      border-radius:10px 0 0 10px;
      -webkit-border-radius:10px 0 0 10px;
      -moz-border-radius:10px 0 0 10px;
      position:relative;
    }
  }
  &_right {
    width:60%;
    float:left;
    background:#000000;
    height:$main-height;
    border-radius:0 10px 10px 0;
    -webkit-border-radius:0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
    &--title {
      color:white;
      font-family: 'Montserrat', sans-serif;
      font-weight:400;
      text-align:left;
      font-size:40px;
      margin:30px 0 0 0;
      padding:0 0 0 40px;
      letter-spacing:1px;
    }
    &--details {
      &-list {
        list-style-type:none;
        padding:0 0 0 40px;
        margin:10px 0 0 0;
        &-item {
          display:inline;
          color:#e3e3e3;
          font-family: 'Montserrat', sans-serif;
          font-weight:400;
          font-size:14px;
          padding:0 40px 0 0;
        }
        &-tag {
          display:inline;
          color:#e3e3e3;
          border: 1px solid #e3e3e3;
          font-family: 'Montserrat', sans-serif;
          font-weight:400;
          font-size:14px;
          margin: 3px 5px 3px 0;
          padding: 4px;
        }
      }
    }
    &--review {
      &-summary {
        color:white;
        font-family: 'Montserrat', sans-serif;
        font-size:12px;
        padding:0 40px 0 40px;
        letter-spacing:1px;
        margin:10px 0 10px 0;
        line-height:20px;
      }
      &-more {
        text-decoration:none;
        font-family: 'Montserrat', sans-serif;
        font-size:14px;
        padding:0 0 0 40px;
        color:#ffda00;
        margin:0;
      }
    }
    &--buttons {
      &__main {
        color:#ffda00;
        text-decoration:none;
        font-family: 'Montserrat', sans-serif;
        border:2px solid #ffda00;
        padding:10px 10px 10px 40px;
        margin: 5px;
        font-size:12px;
        background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
        background-size:12px 12px;
        background-repeat:no-repeat;
        background-position: 7% 50%;
        border-radius:5px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;

        &:hover {
          color: #000000;
          background-color: #ffda00;
          background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
          background-size:12px 12px;
          background-repeat:no-repeat;
          background-position: 10% 50%;
          cursor: pointer;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: .5s;
          transition-duration: .5s;
        }
      }

      padding:0 0 0 40px;
      margin:20px 0 0 0;
    }
  }
}
