<div class="container">
  <div class="row" *ngIf="shows">
    <tv-show-card class="col-lg-3 col-sm-6 col-xs-12"
                  *ngFor="let show of shows | async  | paginate: { itemsPerPage: 4, currentPage: page}"
                  [routerLink]="['/mylist/show', show.id]"
                  title="{{show.name}}"
                  imageUrl="{{show.imageSmall}}"
                  tags="{{show.genres}}">
    </tv-show-card>
  </div>
  <div class="row">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
  <alert *ngIf="removed" type="success" dismissOnTimeout="5000">
    <strong>Show removed!</strong> You removed show from show list.
  </alert>
  <alert *ngIf="edited" type="success" dismissOnTimeout="5000">
    <strong>Show edited!</strong> You edited one of the shows.
  </alert>
</div>
