<div class="container">
  <div class="row">
    <tv-show-card class="col-lg-3 col-sm-6 col-xs-12"
                  *ngFor="let show of shows | orderBy: value : reverse.value | paginate: { itemsPerPage: 4, currentPage: page }"
                  [routerLink]="['/shows/show', show.id]"
                  imageUrl="{{show.imageSmall}}"
                  title="{{show.name}}"
                  tags="{{show.genres}}">
    </tv-show-card>
  </div>
  <div class="row" *ngIf="shows[0]">
    <select class="custom-select" name="sort" [(ngModel)]="value">
      <option value="" disabled selected>Select your sort option</option>
      <option *ngFor="let option of orderBy" [value]="option.value">{{option.display}}</option>
    </select>
    <div class="btn-group">
      <label class="btn btn-secondary" (click)="setReverseOrder()">{{reverse.display}}</label>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>


