@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
////NAVBAR
//.navbar {
//  @extend .navbar, .navbar-toggleable-md;
//
//  &--light {
//    @extend .navbar-light;
//  }
//
//  &--bg-faded{
//    @extend .bg-faded;
//  }
//}
////FOOTER
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
//
//  &__text {
//    line-height: 60px;
//
//    &--muted {
//      @extend .text-muted;
//    }
//  }
//
//  &--centered{
//    @extend .container;
//  }
//
//  &--bg-faded{
//    @extend .bg-faded;
//  }
//}





