<form class="form-text" [formGroup]="searchForm" novalidate>
  <input class="form-control" type="text" placeholder="Search" [formControlName]="'query'">
</form>
<tv-shows-list></tv-shows-list>
<alert *ngIf="added" type="success" dismissOnTimeout="5000">
  <strong>Well done!</strong> You added show to my list.
</alert>
